.songsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
}

@media screen and (max-width: 750px) {
    .songsContainer{
        width: 100%;
    }
  }